.side
  .head-side
    %p.head-side__username
      ユーザー名
    %ul.head-side__lists
      %li.head-side__lists__icon
        = link_to new_group_path do
          %i.fa.fa-edit
      %li.head-side__lists__icon
        = link_to "users/#{current_user.id}/edit" do
          %i.fa.fa-cog
  .side-lists
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        = render 'shared/left-side-lists', {group: group}
