.messages
  .messages__head
    .messages__head__group
      %p{class: "messages__head__group__name"} テストグループ
      %p{class: "messages__head__group__menbar-name"} Aさん、Bさん
    .messages__head__edit-button
      %a{ href: '', class: 'messages__head__edit-button__text' } Edit
  .messages__content
    .messages__content__lists
      - for i in 1..3
        = render 'shared/messages-lists'
    .messages__content__msg-send-footer
      = form_for('', method: :post) do |f|
        = f.text_field :body, placeholder: 'type a message', class: 'messages__content__msg-send-footer__input-text'
        = f.label :image, class: 'messages__content__msg-send-footer__label' do
          = fa_icon 'picture-o', class: 'messages__content__msg-send-footer__label__icon'
          = f.file_field :image, class: 'messages__content__msg-send-footer__label__file'
        = f.submit 'Send', class: 'messages__content__msg-send-footer__submit-btm'
