.messages
  .messages__head
    .messages__head__group
      %p.messages__head__group__name
        = @group.name
      %p.messages__head__group__menbar-name
        Member：
        - @members.each do |member|
          = member.name
    .messages__head__edit-button
      = link_to edit_group_path(@group), class: "messages__head__edit-button__text" do
        Edit
  .messages__content
    .messages__content__lists
      = render 'shared/messages-lists'
    .messages__content__msg-send-footer
      = form_for [@group, @message] do |f|
        = f.text_field :content, placeholder: 'type a message', class: 'messages__content__msg-send-footer__input-text'
        = f.label :image, class: 'messages__content__msg-send-footer__label' do
          = fa_icon 'picture-o', class: 'messages__content__msg-send-footer__label__icon'
          = f.file_field :image, class: 'messages__content__msg-send-footer__label__file'
        = f.submit 'Send', class: 'messages__content__msg-send-footer__submit-btm'
